.demo-header {
    color: #424242;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.material-icons.md-18 {
    color: #ff4081;
}

.demo-main {
    flex-shrink: 0;
    margin-bottom: -50px;
}

.demo-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.demo-content {
    border-radius: 2px;
    padding: 10px 56px;
    margin-bottom: 80px;
    text-align: center;
}

.demo-spinner {
    text-align: center;
    vertical-align: middle;
    height: 33px;
}

.demo-text {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: small;
}

.demo-footer,
.demo-push {
    text-align: center;
    vertical-align: middle;
    bottom: 0px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }